page-category {
    img.post_image {
        width: 100%;
        height: auto;
        z-index: -1;
    }
    .container {
        position: relative;
        width: 100%;
      }
      .btn{
        position: absolute;
        top:0%;
        width: 100%;
      }
      .error_text{
          color: red;
          font-size: 10px;
      }
     

      
      
}
