<ion-content padding class="page-category">
  <ion-card>

    <ion-card-header>
      Choose Post Category
      <button class="dp_button" (click)="clear()" ion-button clear end>clear

      </button>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <button ion-button (click)="getSubCategory(0)" color="light" round icon-end full>{{main_category}}
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-row>
      <ion-row *ngIf="is_main_selected">
        <button ion-button (click)="getSubCategory(1)" color="light" round icon-end full>{{sub_category1}}
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-row>
      <ion-row *ngIf="is_sub_selected">
        <button ion-button (click)="getSubCategory(2)" color="light" round icon-end full>{{sub_category2}}
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-row>
      <button ion-button color="light" (click)="done()" round full>Done
        </button>
    </ion-card-content>
  </ion-card>
  <ion-item>
      <ion-label floating>Enter new category name</ion-label>
      <ion-input type="text" [(ngModel)]="category_name"></ion-input>
    </ion-item>

  <ion-row *ngIf="is_category_image">
    <div class="container">
      <img class="post_image" src="{{image}}" />
      <ion-row class="btn" align-items-center>
        <ion-col col-2>
          <button class="dp_button" margin ion-button icon-only clear>
            <ion-icon name="heart"></ion-icon>
          </button>
        </ion-col>
        <ion-col offset-7 col-2>
          <button class="dp_button" margin ion-button icon-only clear>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-row>
  <image-selector [(image)]="image" [(isTagPicked)]="isTagPicked" [(mediaId)]="mediaId" [(media_source)]="media_source"
  [(media_tag)]="media_tag" (mediaTagChange)="onMediaTagChange($event)" (mediaSourceChange)="onMediaSourceChange($event)"
  (imageChange)="onMediaChange($event)"></image-selector>

  <button ion-button color="light" (click)="addCategory()" round full>Add Category
    </button>

  <ion-label *ngIf="is_error" class="error_text">
    {{error_text}}
  </ion-label>

  <!-- <input type="file" (change)="onFileChanged($event)"> -->
</ion-content>