page-home {
    .wrap {
        word-wrap: break-word;
        justify-content: center;
    }
    .card {
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    
    .card .item-text-wrap {
        background: silver;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        padding: 10px;
        margin:1px;
    }
}
