image-selector {
    #post_image_container{
        
        height: 50%;
        width:100%;
    }
    #post_image{
        height: 100%;
        width:100%;
        object-fit: contain;
    }

    #post_image_fab{
        margin:10px;
       
    }
    #post_detail{
        margin-top:10px;
    }
    #uploaded_image{
        height:50px;
        width:50px;
        border-radius: 50%;
        margin-left: 20px;
    }
}
