<ion-content class="page-add-post">
  <image-selector [(image)]="image" [(isTagPicked)]="isTagPicked" [(mediaId)]="mediaId" [(media_source)]="media_source" [(media_tag)]="media_tag" (mediaTagChange)="onMediaTagChange($event)" (mediaSourceChange)="onMediaSourceChange($event)" (imageChange)="onMediaChange($event)"></image-selector>
  
  <div id="post_detail">
    <ion-row radio-group [(ngModel)]="post_type">

      <ion-col>
        <ion-item>
          <ion-label>Quiz
          </ion-label>
          <ion-radio value="quiz" (click)="isquiz=true; post_type='quiz';">
          </ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Poll<ion-icon name="poll"></ion-icon>
          </ion-label>
          <ion-radio value="poll" (click)="isquiz=false; post_type='poll';"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Fact<ion-icon name="poll"></ion-icon>
          </ion-label>
          <ion-radio value="fact" (click)="isquiz=false; post_type='fact';"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div id="container">
    <ion-list>

      <ion-item class="rounded" id="question">
        <ion-textarea rows="1" id="messageInputBox1" maxlength="500" placeholder="Add Question" (input)="change(1)"
          [(ngModel)]="question" required></ion-textarea>
      </ion-item>
      <div *ngIf="post_type!='fact'">


        <div *ngFor="let item of items ; let i = index trackBy:trackByFn">
          <ion-row>
            <ion-col col-10>
              <ion-item>
                  <input type="text" id="option{{i}}" [(ngModel)]="items[i]"/>
                <!-- <ion-textarea rows="1" id="option{{i}}" value={{item}} (input)="optionChange(this,i)" required></ion-textarea> -->
              </ion-item>
            </ion-col>
           
            <ion-col col-2>
              <button ion-button icon-only (click)="deleteOption(item)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>

        <ion-item class="rounded" id="option">
          <ion-textarea rows="1" maxlength="50" id="messageInputBox" placeholder="Add Option" [(ngModel)]="option" (keyup.enter)="addOption()"
            required></ion-textarea>
        </ion-item>

        <ion-item>
          <button ion-button icon-start full (click)="addOption()">
            <ion-icon name="md-add"></ion-icon>
            Add Option
          </button>
        </ion-item>

        <ion-row *ngIf="items.length>1&&isquiz" justify-content-center>
          <ion-col>
            <ion-select [(ngModel)]="correct_option" multiple="false" placeholder="Choose correct option" style=" max-width: 100% !important;">
              <ion-option *ngFor="let item of items" value="{{item}}" selected="{{item}}">{{item}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-item class="rounded" id="question">
          <ion-textarea rows="1" maxlength="500" id="messageInputBox2" placeholder="Add Description" (input)="change(2)"
            [(ngModel)]="description" required></ion-textarea>
        </ion-item>
        
      </div>
      <ion-item class="rounded" id="search_tag">
          <ion-textarea rows="1" maxlength="50" id="messageInputBox3" placeholder="Add Search Tag" (input)="change(3)"
            [(ngModel)]="search_tag" required></ion-textarea>
        </ion-item>
        <ion-item class="rounded" id="level">
            <ion-textarea rows="1" maxlength="50" id="messageInputBox4" placeholder="Add Level" (input)="change(4)"
              [(ngModel)]="level" required></ion-textarea>
          </ion-item>

    </ion-list>


    <div>
      {{errors}}
    </div>

    <ion-row>
      <button (click)="chooseCategory()" ion-button color="light" full>{{category}}</button>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
        <button ion-button color="dark" round full (click)="cancel()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button color="dark" round full (click)="submit()">Draft</button>
      </ion-col>
      <ion-col>
        <button ion-button color="dark" round full (click)="post()">Post</button>
      </ion-col>
    </ion-row>

  </div>


</ion-content>