page-categorymain {
    .fav_img{
        width:100px;
         height:70px;
      }
      .fav_img_slide{
        width:100px;
        background: white;
      }
      .fav_img_card{
        width:100px;
        background: white;
      }
      .fav{
        font-size: 10px;
        padding:2px;
        color: black;
        
      }
    
      #fav_container_slides{
        background-color: white;
      }
}
